

<ion-content [fullscreen]="true">
  <div class="container-splash">
    <h2 class="alumn tracking-in-expand">Tabla Diáctica App</h2>
    <div class="container-logo">
      <img class="slide-in-top splash background" src="../../../assets/icon/backTabla.png"/>
      <img class="slide-in-right splash logo" src="../../../assets/icon/tabladicaticaApp.png"/>
    </div>
    <h2 class="text-shadow-drop-center"></h2>
    <h2 class="division tracking-in-expand">Juan Sueldo 4º B</h2>
  </div>
</ion-content>