<ion-content>
  <div class="container">
    <div>
      <div class="ion-margin-bottom">
        <ion-title class="slide-in-top title ion-text-center">4º B</ion-title>
      </div>
      <div class="ion-text-center ion-margin-bottom">
        <img class="icono slide-in-right" src="assets/icon/tabladicaticaApp.png" alt="icono-relevamiento">
      </div>
      <div class="ion-margin-top">
        <ion-title class="title ion-text-center slide-in-bottom">Juan Sueldo</ion-title>
      </div>
    </div>
  </div>
</ion-content>