ion-content{
    --background: #fad06a;
}
ion-toolbar{
    --background:#914f40;
    color: #447f73;
    text-align: center;
    text-shadow: 4px 3px 0px rgba(0,0,0,0.46);
}
ion-title{
    font-weight: 900;
}