ion-content{
    --background: #fad06a;
}
ion-toolbar{
    --background:#914f40;
    color: #447f73;
    text-align: center;
    text-shadow: 4px 3px 0px rgba(0,0,0,0.46);
}
ion-title{
    font-weight: 900;
}
.container-subtitle{
    margin-bottom: 50px;
}
.subtitle{
    margin-top: 30px;
    font-weight: 300;
    text-align: center;
    font-size: 1.2rem;
    color: #e96e5f;
}
.container-input{
    margin-bottom: 25px;
}
ion-item {
    color: #447f73;
    --background: #e6b138 !important;
    --border-color: #447f73;
}
.ingreso-rapido{
    background-color: #e6b138;
    height: 260px;
    text-align: center;
}
h2{
    color: #447f73;
}
.container-buttons{
    margin-top: 40px;
    display: block;
}
.fast-login{
    padding: 25px 0;
}
.login{
    --background: #914f40;
}
.admin{
    --background: #447f73;
}
.invitado{
    --background: #e96e5f;
}
