<div class="container">

  <div class="contenedor-botones">
    <div class="boton-numero" (click)="playSound('one')">
      <img src="../../../assets/numbers/one.png" alt="">
    </div>
    <div class="boton-numero" (click)="playSound('two')">
      <img src="../../../assets/numbers/two.png" alt="">
    </div>
    <div class="boton-numero" (click)="playSound('three')">
      <img src="../../../assets/numbers/three.png" alt="">
    </div>
    <div class="boton-numero" (click)="playSound('four')">
      <img src="../../../assets/numbers/four.png" alt="">
    </div>
    <div class="boton-numero grid-final" (click)="playSound('five')">
      <img src="../../../assets/numbers/five.png" alt="">
    </div>
  </div>
  
</div> 